@font-face {
  font-family: "PretendardVariable";
  src: url("/PretendardVariable.ttf");
}

body * {
  font-family: "PretendardVariable";
}

html,
body {
  margin: 0;
  background-color: #efefef;
}

#root {
  background-color: #efefef;
  /* min-height: 100vh; */
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
